<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee+Shade|Roboto" type="text/css">
        <title>Evaluate News with Natural Language Processing</title>
    </head>

    <body>

        <header class="hd">
            <img class="logo" src="src/client/images/logo.png" alt="Logo picture">
            <h1 class="hd_text">Evaluate News with NLP</h1>
        </header>

        <main class="container">
            <img class="container_responsive" src="src/client/images/1.png" alt="NLP picture">
            <section>
                <form onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="">
                    <button type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">Submit</button>
                </form> 
            <section>

            <section class="container_result">
                <h3 class="container_text">Evaluation Results:</h3>
                <div id="results_error">Nothing to display. Paste an article or other text in the form above and press "submit".</div>
                <div id="results">
                    <div class="results_card">
                        <div id="score"></div>
                    </div>
                    <div class="results_card">
                        <div id="agreement"></div>
                    </div>
                    <div class="results_card">
                        <div id="subjectivity"></div>
                    </div>
                    <div class="results_card">
                        <div id="irony"></div>
                    </div>
                    <div class="results_card">
                        <div id="confidence"></div>
                    </div>
            </section>

            <section class="analysis">
                <h3 class="analysis_text">Sentiment Analysis by Meaning Cloud</h3>
                <p class="analysis_type">Score:
                    <ul class="analysis_list">
                        <li>P+: strong positive</li>
                        <li>P: positive</li>
                        <li>NEU: neutral</li>
                        <li>N: negative</li>
                        <li>N+: strong negative</li>
                        <li>NONE: without sentiment</li>
                    </ul>
                </p>

                <p class="analysis_type">Agreement:
                    <ul class="analysis_list">
                        <li>AGREEMENT: the different elements have the same polarity.</li>
                        <li>DISAGREEMENT: there is disagreement between the different elements' polarity.</li>
                    </ul>
                </p>

                <p class="analysis_type">Subjectivity:
                    <ul class="analysis_list">
                        <li>OBJECTIVE: the text does not have any subjectivity marks.</li>
                        <li>SUBJECTIVE: the text has subjective marks.</li>
                    </ul>
                </p>
                
                <p class="analysis_type">Confidence:
                    <ul class="analysis_list">
                        Its value is an integer number in the 0-100 range.
                    </ul>
                </p>

                <p class="analysis_type">Irony:
                    <ul class="analysis_list">
                        <li>NONIRONIC: the text does not have ironic marks</li>
                        <li>IRONIC: the text has ironic marks</li>
                    </ul>
                </p>
            </section>
        </main>       
        
        <footer class="ft">
            Created with &hearts; by Desislava Petrova
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
